body{
    width: 100%;
    background-image: url('./img/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg');
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

#formClima{
    width: 100%;
    min-width: 280;
    max-width: 1920px;
    width: 50%;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    margin-top: 1px;
    margin-left: 24.3%;
}

#cityInput{
    border-radius: 20px;
    background-image: url('./img/WhatsApp_Image_2024-02-28_at_13.54.13-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 98%;
}

#climeos{
    font-family: 'Codec Pro', sans-serif;
    font-size: 25px;
    text-align: flex-end;
}

#climaResult{
    margin: 50px auto;
    display: flex;
    background-color: #8b9da25d;
    border: 5px solid rgba(0, 0, 0, 0.436);
    border-radius: 20px;
    width: 65%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
}

#horario{
    font-family: 'Codec Pro', sans-serif;
    font-size: 125px;
}

#velocidadedoventoid{
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;

}

#ventoicon{
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;
}

#umidadeicon{
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;
}

#umidadeid{
   
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;
}



#temperaturaid{
    font-family: 'Codec Pro', sans-serif;
    font-size: 30px;
    
}

#climaid{
    font-family: 'Codec Pro', sans-serif;
    font-size: 50px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}



/* @media (max-width: 1356px) {

    #formClima {
        position: absolute;
        margin-top: 25%;
        margin-left: 20%;
    }

    #climaResult{
        position: absolute;
        margin-left: 65%;
        margin-top: 3%;
        background-color: #8b9da25d;
        border: 2px solid black;
        border-radius: 20px;
        width: 450px;
        h
    }
} */

